
html, body, #root {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

html, body {
	background-color: rgb(0, 15, 40);;
	overflow: hidden;
}


:root {
	--tabW: 83vh;
	--bgW: 120vh;
	--tabHover: 2vw;
	--tabsTop: 15vh;
	--textSize: 5vh;
	--titleSize: 5.5vw;
}

.hero {
	position: relative;
	width: 100vw;
	height: 100svh;
	overflow: hidden;
	background: #0b0f2b;
}

.hero-bg {
	position: absolute;
	left: 0;
	top: 0;

	width: var(--bgW);
	height: auto;

	z-index: 1;
	pointer-events: none;
	display: block;
	filter: brightness(0.8);
}


.tabs {
	position: absolute;
	left: 0;
	top: var(--tabsTop);
	display: flex;
	flex-direction: column;
	z-index: 2;
}

.tab-wrap {
	position: relative;
	width: var(--tabW);
	cursor: pointer;
	transition: transform 0.35s cubic-bezier(.22,1,.36,1), filter 0.35s;
}

.tab-wrap:hover {
	transform: translateX(var(--tabHover));
	filter: brightness(1.1);
}


.tab-img {
	width: 100%;
	height: auto;
	display: block;
}

.tab-text {
	position: absolute;
	left: 28%;
	top: 50%;
	transform: translateY(-50%);
	color: white;
	pointer-events: none;
	user-select: none;
	white-space: nowrap;
	font-size: var(--textSize);
	font-weight: 700;
	letter-spacing: 0.5px;
	text-shadow: 0 2px 10px rgba(0,0,0,0.35);
}

/* specific shifts */
.explore { margin-left: -22vh; }
.build { margin-left: -29.5vh; }
.profiles { margin-left: -36.7vh; }

.explore .tab-text { transform: translateY(-50%) translateX(30vh); }
.build .tab-text { transform: translateY(-50%) translateX(35vh); }
.profiles .tab-text { transform: translateY(-50%) translateX(29vh); }


.hero-title {
	position: absolute;
	right: 15vw;
	top: 40%;
	transform: translateY(-50%);
	z-index: 2;
	color: white;
	font-weight: 700;
	letter-spacing: 1px;
	font-size: var(--titleSize);
	text-shadow: 0 12px 30px rgba(0,0,0,0.45);
	user-select: none;
	white-space: nowrap;
}


/* mobile adjustments */
@media (max-width: 600px) {
	:root {
		--tabW: 70vh;
		--bgW: 0px;
		--tabHover: 18px;
		--tabsTop: 30vh;
		--textSize: 1.25rem;
	}

	.explore { margin-left: -22vh; }
	.build { margin-left: -28.4vh; }
	.profiles { margin-left: -34.6vh; }

	.explore .tab-text { transform: translateY(-50%) translateX(28vh); }
	.build .tab-text { transform: translateY(-50%) translateX(32vh); }
	.profiles .tab-text { transform: translateY(-50%) translateX(29vh); }

	.hero-title {
		right: 40px;
		top: 8%;
		transform: none;
		font-size: 10vw;
	}
}